{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <div class="page-header"><h1>About Felicity</h1></div>
    <div class="jumbotron ">
      <blockquote>
        I believe I have found the perfect designation for the proposed celebration - A time of enjoyment, revelling, appreciation of the privilege, freedom and comfort given to you, a sense of celebration, the feeling and hope that everything is alright with the world - Felicity, 2018.    
      </blockquote>
      <p class="lead">
        A year's worth of excitement, fervour and hard work packed into 3 amazing days. Felicity is the annual techno-cultural fest of IIIT-Hyderabad, and would go on from January 27th to 29th. This time, our theme celebrates that one merry period of life, when we were young, curious and free. This Felicity we dedicate these three days to take a trip around the world, and experience the rich and diverse culture that IIIT has to offer. Felicity '18 - Around the world in 3 days.
      </p>
    </div>
  </div>
</div>
{% endblock %}